html,
body,
div.container,
section {
    height: 100%;
}

body {
    background-color: #F5F5F6;
    font-size: larger;
}

h1 {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 15px;
}

p {
    text-align: justify;
}

/* Layout */
div.container>section.content-flex {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

div.container>section.content-flex>div {
    width: 80%;
    margin: auto;
}

/* Contents */
div.container>section.main,
div.container>section.footer {
    background-color: black !important;
    color: white;
}

div.container>section.content-flex:nth-child(2n) {
    background-color: #E1E2E1;
}

/* Links */
div.container>section.links {
    height: auto;
    position: fixed;
}

div.container>section.links>a {
    text-decoration: none;
}

div.container>section.links>a>p {
    display: none;
}

div.container>section.links>a>img {
    background-color: white;
    border-radius: 20%;
}

/* for-phone-only */
@media (max-width: 599px), (min-width: 600px) {
    /* Links */
    div.container>section.links {
        justify-content: space-between;
        flex-direction: row;
        width: 90%;
        background-color: black;
        padding: 20px;
    }

    div.container>section.links>a {
        color: white;
        text-align: center;
        font-size: small;
    }
    
    div.container>section.links>a>p {
        margin-bottom: 5px;
        display: block;
    }

    div.container>section.links>a>img {
        width: 40px;
        height: 40px;
    }
}

/* for-tablet-portrait-up */
/* @media (min-width: 600px) {} */

/* for-tablet-landscape-up */
/* @media (min-width: 900px) {} */

/* for-desktop-up */
@media (min-width: 900px), (min-width: 1200px), (min-width: 1800px) {
    /* Links */
    div.container>section.links {
        margin: 20px;
        line-height: 30px;
        right: 0;
    }

    div.container>section.links>a>img {
        width: 60px;
        height: 60px;
        border: solid black 1px;
    }
}

/* for-big-desktop-up */
/* @media (min-width: 1800px) {} */